@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Privacy Policy";
    
}
<div id="container">
    <h1 id ="t"> Test </h1>
    
    <img id ="image" src = "/images/minecraft-mob-farm-49fc.jpg" />
</div>

<div class="cont">

    <h1 class="notice"></h1>

    
</div>
    
<form onsubmit = "return Valid()"method  = "post" action =" " id= "form">
 
 <input placeholder = "enter your username "value ="" id="username"/>
 <input required type = "password" placeholder =" enter your password or die"id="password" />
 <input type = "submit" /> 
</form>
